/* colors 
aqua: #41C3AC; 
orange: #FF884D;
lightblue: #81B9C3;
darkblye: #32526E;
*/
.App {
  padding: 20px;
  width: 80%;
}

.App-header {
  display: flex;
  justify-content: center;
}

.App-header > h2 {
  font-size: 2rem;
  color: #FF884D;
  text-shadow: 0 0 10px white;
}

.App-game {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
/*
* ==== SQUARE and BOARD COMPONENT === *
*/
.board {
  background-color: #FF884D;
  width: 260px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:  -5px 7px 15px 7px #999;
  
}

 .board-row:after {
  clear: both;
  content: "";
  display: table; 
} 

 .square {
  background: #32526E; 
  border: 1px solid #FF884D;
  color: white;
  float: left; 
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 34px;  
  height: 80px; 
  width: 80px;
  margin-right: -1px;
  margin-top: -1px; 
  padding: 0; 
  text-align: center; 
} 

.square:focus {
  outline: none;
}

/*
* ==== GAME COMPONENT === *
*/
.game-info {
  text-align: center;
}
.game-info > div:nth-of-type(2) {
  font-size: 1.6rem;
  margin: 10px;
  color: #FFF;
  text-shadow: 5px 5px 10px #FF884D;
}

.game-info-count > div {
  display: inline-block;
  margin: 5px;
}
.game-info-count > div:first-child {
  margin-right: 55px;
}

.game-info-count span {
  color: #FFF;
  text-shadow: 5px 5px 10px #FF884D;
}

.game-board {
  display: inline-flex;
}

.reset-all {
  text-align: center;
}

.reset-all button {
  border: 0 none;
  margin: 5px;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
  box-shadow: 2px 2px 5px #999;
  background-color: #32526E;
  color: white;
}

.reset-all button:hover {
  transition: all 60ms ease;
  opacity: 0.85;
}

.reset-all button:focus {
  outline: none;
}

.game-moves {
  padding: 0;
  height: 200px;
  text-align: center;
}

.game-moves p {
  font-size: 1.2rem;
  color: white;
  padding: 0;
  margin: 5px 0;
}

.game-moves ol {
  margin: 0;
  padding: 0;
}

.game-moves li{
  list-style-type: none;
  cursor: pointer;
  transition: all ease-in 100ms;
}
.game-moves li:hover {
  color: #FF884D;
}

/* ==== GAME OPTIONS COMPONENT ====*/
/*Modal support for Game Options*/ 
.overlay { 
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.game-options {
    width: 300px; 
    height: 330px; 
    padding: 15px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -165px;
    margin-left: -150px; 
    background-color: #FF884D;
    border-radius: 5px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
}

.game-options button {
  border: 0 none;
  margin: 2px;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
  box-shadow: 2px 2px 5px #999;
  background-color: #32526E;
  color: white;
}

.game-options button:hover {
  transition: all 60ms ease;
  opacity: 0.85;
}

.game-options button:focus {
  outline: none;
}

.game-options .start-game-btn {
  margin-top:20px; 
  background-color: #41C3AC;
  font-size: 1.5rem;
}

.game-options p {
  font-size: 1.5rem;
  color: white;
  margin: 0 0 5px 0;
}

.game-options h3 {
  margin: 10px 0;
  color: #32526E;
}