/*
* === APP STYLING === *
*/
.App {
  background-color: rgb(42.3%, 71.8%, 42.3%);
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

.App-header {
  display: flex;
  justify-content: center;
}

.App-game {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
* ==== SQUARE COMPONENT === *
*/
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
/*
* ==== BOARD COMPONENT === *
*/

/*
* ==== GAME COMPONENT === *
*/
 .game {
  display: inline-flex;
} 

.game-info {
  margin-left: 20px;
}

.status {
  margin-bottom: 10px;
}
/* ==== GAME OPTIONS COMPONENT*/
/*Modal support for Game Options*/ 
.overlay { 
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}
  
.game-options {
    width: 300px;
    height: 200px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #f1c40f;
    border-radius: 5px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
}
