/* colors 
aqua: #41C3AC; 
orange: #FF884D;
lightblue: #81B9C3;
*/
.App {
  background-color: #81B9C3;
  padding: 20px;
  width: 80%;
}

.App-header {
  display: flex;
  justify-content: center;
}

.App-game {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
/*
* ==== SQUARE COMPONENT === *
*/
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
/*
* ==== BOARD COMPONENT === *
*/

/*
* ==== GAME COMPONENT === *
*/

.game-info {
  text-align: center;
}

.game-moves {
  padding: 0;
  height: 200px;
}

.game-moves ol {
  margin: 0;
  padding: 0;
}

.game-moves li{
  list-style-type: none;
}

.game-board {
  display: inline-flex;
}
/* ==== GAME OPTIONS COMPONENT ====*/
/*Modal support for Game Options*/ 
.overlay { 
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.game-options {
    width: 300px; 
    height: 330px; 
    padding: 15px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -165px;
    margin-left: -150px; 
    background-color: #FF884D;
    border-radius: 5px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
}

.game-options button {
  border: 0 none;
  margin: 2px;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
  box-shadow: 2px 2px 5px #999;
  background-color: #32526E;
  color: white;
}

.game-options button:hover {
  transition: all 60ms ease;
  opacity: 0.85;
}

.game-options button:focus {
  background-color: black;
  outline: none;
}

.game-options .start-game-btn {
  margin-top:20px; 
  background-color: #41C3AC;
  font-size: 1.5rem;
}