html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font: 16px "Century Gothic", Futura, sans-serif;
  background-color: #41C3AC;
}

/*Display the App content in the centre of the page*/
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}


  