@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');
html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: #41C3AC;
}

/*Display the App content in the centre of the page*/
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}


  