html, body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font: 14px "Century Gothic", Futura, sans-serif;
}

/*Display the App content in the centre of the page*/
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


  